.num {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
    display: block;
    font-size: 1.5em;
    line-height: 3em;
    text-align: center;
    width: 3em;
}

.container {
    display: flex;
    height: 400px;
    width: 100%;
    border: 1px solid black;
    flex-wrap: wrap;
}

.el {
    width: 25%;
}

.el:nth-child(5n+1) {
    background-color: greenyellow;
}

.el:nth-child(5n+2) {
    background-color: rgb(1, 79, 1);
}

.el:nth-child(5n+3) {
    background-color: rgb(194, 253, 194);
}

.el:nth-child(5n+4) {
    background-color: rgb(0, 253, 0);
} 

.el:nth-child(5n+5) {
    background-color: black;
}